body {
    background-image: url('https://github.com/michael-mohr2024/michael-mohr2024.github.io/blob/main/background.jpeg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
}